@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Building a bright future for your kids, <a href="https://localhost:7077/Students/Add">Click here to enroll now</a>.</p>
</div>
