@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentPortal.Web.Models.AddEnrollmentDetailViewModel

<h2>Add Enrollment Detail</h2>

<form asp-action="AddEnrollmentDetail" method="post">
    <div class="form-group">
        <label for="ENRDFSTUDID">Student ID</label>
        <input type="number" class="form-control" id="ENRDFSTUDID" name="ENRDFSTUDID" />
    </div>
    <div class="form-group">
        <label for="ENRDFSTUDEDPCODE">EDP Code</label>
        <input type="text" class="form-control" id="ENRDFSTUDEDPCODE" name="ENRDFSTUDEDPCODE" />
    </div>
    <div class="form-group">
        <label for="ENRDFSTUDSUBJCDE">Subject Code</label>
        <input type="text" class="form-control" id="ENRDFSTUDSUBJCDE" name="ENRDFSTUDSUBJCDE" />
    </div>
    <div class="form-group">
        <label for="ENRDFSTUDSTATUS">Status</label>
        <input type="text" class="form-control" id="ENRDFSTUDSTATUS" name="ENRDFSTUDSTATUS" />
    </div>
    <button type="submit" class="btn btn-primary">Add Enrollment Detail</button>
</form>

