@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentPortal.Web.Models.AddSubjectPreqViewModel


<h1>Add Pre-Requisite Subjects</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Subject Code</label>
        <input type="text" class="form-control" maxlength="15" asp-for="SUBJCODE" />
    </div>

    <div class="mt-3">
        <label class="form-label">Prerequisite Code</label>
        <input type="text" class="form-control" maxlength="15" asp-for="SUBJPRECODE" />
    </div>

    <div class="mt-3">
        <label class="form-label">Category</label>
        <select class="form-control" asp-for="SUBJCATEGORY">
            <option value="">Select Category</option>
            <option value="PR">Prerequisite (PR)</option>
            <option value="CR">Co-requisite (CR)</option>
        </select>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary">Back</button>
    </div>
</form>